@using System.Collections.Generic;
@using AspNetMVC.LabExercise1.Models;
@{
	var productList = ViewData["ProductList"] as List<Product>;
	var grandTotal = ViewData["GrandTotal"];
}

<table cellpadding="10" cellspacing="10">
	<tr bgcolor= lightgreen>
		<td>Id</td>
		<td>Name</td>
		<td>Description</td>
		<td>Quantity</td>
		<td>Price</td>
		<td>TotalAmount</td>
	</tr>
	@foreach(var product in productList)
	{
		<tr bgcolor = lightblue>
			<td>@product.Id</td>
			<td>@product.Name</td>
			<td>@product.Description</td>
			<td>@product.Quantity</td>
			<td>@product.Price</td>
			<td>@product.TotalAmount</td>
		</tr>
	}
	<tr bgcolor = grey>
		<td colspan="5", style="text-align:right">GrandTotal</td>
		 <td>@grandTotal</td>
	</tr>
	
</table>
